@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Lato|Slabo+27px|Montserrat|Source+Sans+Pro|Lora|Noto+Serif);

$bodyText: 'Noto Serif';
$bodyTextAlt: 'Lora';
$headerText: 'Montserrat';
$headerTextAlt: 'Roboto';
$codeText: 'Source Sans Pro';
