body {
    width: 100%;
    height: 100%;
    font-family: $bodyText, $bodyTextAlt,'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $primaryText;
}

html {
    width: 100%;
    height: 100%;
}

.top-spacer {
  margin-top: 90px;
  margin-bottom: 40px;
}

.middle-spacer {
  margin-top: 60px;
  margin-bottom: 80px;
}

.about-aside {
@media(max-width:768px) {
    text-align: center;
    margin: 0 auto;
    .menu {
      margin-left: 30%;
    }
  }
}

.progress-container {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.progress-section {
  padding: 0;
  margin: 0;
}

.progress-container .progress-section p {
  margin: 0;
  padding: 0;
}

.progress-container .progress-section .title {
  margin: 0;
  padding: 0;
}
